* {
    font-family: 'PT Serif', serif;
}
/* font-family: 'Playfair Display', serif; */
:root {
    --primary: #ce1212;
    --secodary: rgba(206, 18, 18, 0.1);
}

.btn-primary {
    background-color: var(--primary) !important;
    color: white;
    border-color: var(--primary);
}

.btn-primary:hover {
    border-color: var(--primary);
    background-color: var(--secodary) !important;
    color: var(--primary) !important;
}

.bg-col {
    background-color: var(--primary) !important;
}

.i-bg-col {
    background: var(--secodary) !important;
}

.text-col {
    color: var(--primary) !important;
}

.hero {
    background: url(../assets/images/hamburger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
}

.home-hero {
    min-height: 100vh;
}

.icon {
    width: 70px;
}

.card-zoom {
    transition: all ease-in-out 0.5s;
    height: 100%;
}

.card-zoom:hover {
    transform: scale(1.02);
}

.card-zoom:hover a {
    background-color: var(--secodary) !important;
    color: var(--primary) !important;
}

.index {
    z-index: 100;
}

@media (max-width: 1024px) {
    .hero {
        min-height: 50vh;
    }
}